arrow==0.15.2
authorizer==0.0.1
certifi==2022.12.7
chardet==3.0.4
cli-helpers==1.2.1
Click==7.0
configobj==5.0.6
Flask==1.1.1
humanize==0.5.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pgcli==2.1.1
pgspecial==1.11.7
pkg-resources==0.0.0
prompt-toolkit==2.0.10
psycopg2==2.8.3
Pygments==2.4.2
python-dateutil==2.8.0
requests==2.22.0
setproctitle==1.1.10
six==1.12.0
sqlparse==0.3.0
tabulate==0.8.5
terminaltables==3.1.0
urllib3==1.25.6
waitress==1.3.1
wcwidth==0.1.7
Werkzeug==0.16.0
